<section class=" ui segment">
    <div class="ui huge purple label"><b>Member Goal Summary</b></div>
    <section class="ui raised segment stackable three column grid">
        <div class="column center aligned">
            <h2 class="ui icon header">
                <i class="blue thumbs up outline icon"></i>
                <div class="sub header"><b>Open: {{open}}</b></div>
            </h2>
        </div>
        <div class="column center aligned">
            <h2 class="ui icon header">
                <i class="green thumbs up icon"></i>
                <div class="sub header"><b>Completed: {{achieved}}</b></div>
            </h2>
        </div>
        <div class="column center aligned">
            <h2 class="ui icon header">
                <i class="red thumbs down icon"></i>
                <div class="sub header"><b>Missed: {{missed}}</b></div>
            </h2>
        </div>
    </section>
</section>