<nav class="ui menu">
    <header class="ui orange header item"> Gym App</header>
    <div class="right menu">
        <a class="item" href="/dashboard/:id">Dashboard</a>
        <a class="item" href="/settings">Settings</a>
        <a class="item" href="/logout">Logout</a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>