<section class=" ui centre aligned segment">
    <div class="ui huge purple label"><b>Set a Goal for {{member.firstName}} {{member.lastName}}</b></div>
    <form class="ui segment form" action="/trainerdashboard/{{member.id}}/addgoal" method="POST">
        <div class="two fields">
            <div class="field">
                <label>Date</label>
                <input placeholder="dd/mm/yyyy" type="date" id="datepicker" name="date">
            </div>
            <div class=" red field">
                <label>Weight (kg)</label>
                <input placeholder="00.00kg" type="number" name="weight">
            </div>
            <div class="field">
                <label>Chest (cm)</label>
                <input placeholder="00.00cm" type="number" name="chest">
            </div>
            <div class="field">
                <label>Thigh (cm)</label>
                <input placeholder="00.00cm" type="number" name="thigh">
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>Upper Arm (cm)</label>
                <input placeholder="00.00cm" type="number" name="upperarm">
            </div>
            <div class="field">
                <label>Waist (cm)</label>
                <input placeholder="00.00cm" type="number" name="waist">
            </div>
            <div class="field">
                <label>Hips (cm)</label>
                <input placeholder="00.00cm" type="number" name="hips">
            </div>
        </div>
        <button class="ui blue submit button"> Add Goal</button>
    </form>
</section>