<section class=" ui segment">
    <a href="/trainerdashboard/{{member.id}}">
        {{> memberstats}}
    </a>
    <p></p>

    <a href="/trainerdashboard/{{member.id}}/trainergoals">
        {{>goalstats}}
    </a>
</section>
