<nav class="ui menu">
    <header class="ui orange header item"><img class="ui image" src="/images/globogym.jpg"></header>
    <div class="right menu">
        <a id="trainerdashboard" class="item" href="/trainerdashboard"> Dashboard </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>
