{{> membermenu}}
<section class=" ui segment">
    <a href="/dashboard/{{member.id}}/">
        {{> memberstats}}
    </a>
    <p></p>
    <a href="/dashboard/{{member.id}}/goals">
        {{>goalstats}}
    </a>
</section>
<section class="ui segment">
    {{> addassessment}}
    {{> listassessments}}
</section>
