{{>membermenu}}
    <section class=" center aligned ui segment">
    <a href="/dashboard/{{member.id}}">
        {{>goalstats}}
    </a>
</section>
<section class=" ui segment">
    {{> addgoal}}
    {{> listgoals}}
</section>
