{{> welcomemenu }}

<section class="center aligned ui segment">
    <img class="middle aligned large ui image" src="/images/globogym.jpg">
    </section>

<section class="ui center aligned middle aligned segment">
    <p> Sign up or Log in... </p>
</section>
