{{>menu}}

<a href="/trainerdashboard/{{member.id}}/">
{{> memberstats}}
</a>
<a href="/trainerdashboard/{{member.id}}/trainergoals">
{{>goalstats}}
</a>
<section>
    {{> traineraddgoal}}
    {{>listgoals}}
</section>